.section-label {
    -fx-background-radius: 6pt;
    -fx-effect: dropshadow(gaussian, darkgray, 10, 0.5, 2, 2);
    -fx-font-weight: bold;
    -fx-font-size: 18pt;
    -fx-padding: 4pt;
}

.events-label